* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif ;
    display: flex;
}

img {
    width: auto;
    height: 125px;
}

.section-1 {
   display: flex;
   flex-direction: column;
   background-color: #1f2937 ;
  
     
}
.section-2 {
    background-color: white;
    display: flex;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
}

.section-4 {
    display: flex;
    background-color: white;
}

/* Header of website */
 
.header {
    display: flex;
    padding: 20px 140px 160px 140px;
   
}
.Logo {
    color: #f9faf8;
    margin-right: auto;
    font-weight: bolder;
    font-size: 24px;

}
#nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.links {
    font-size: 18px;
    color: #e5e7eb ;
}




